# Python binary shenanigans
*.egg
*.egg-info
*.pyc
*.pyo

# virtualenv
/[Bb]in/
[Ii]nclude
/[Ll]ib
/[Ss]cripts/
pyvenv.cfg
pip-selfcheck.json

# Misc
.DS_Store
.installed.cfg
.Python
celerybeat.pid
celerybeat-schedule
celerybeat-schedule.db
environments/*.bat
environments/*.sh
/cover/
.coverage
