html,
body {
  height: 100%;
  font-family: 'Roboto';
  background-color: #F5F5F5;
  color: #313131;
  margin: 0;
  padding: 0;
}

.header {
  display: table;
  margin: .25em auto .25em;
  font-size: 3em;
  top: 0;
  left: 0;
  flex: 0 1 auto;
  display: inline-block;
}

#slacking {
  margin: auto 0;
  width: 100%;
}

#slacking-header {
  font-size: 2em;
  font-weight: 100;
  margin: 0 auto;
  display: table;
}

#slacking-sub {
  margin: 0 auto;
  display: table;
}

.secondary {
  color: #444444;
}

.page {
  position: relative;
  flex: 1 1 auto;
  display: flex;
}

/* This class is a div placed inside each section. */
.fp-tableCell {
  display: flex;
  flex-flow: column;
}

.thin {
  font-weight: 100;
}

.header-highlighted {
  font-weight: bold;
  color: #1BCACD;
}

#range-selector {
  width: 100%;
  z-index: 10;
}

#range-form {
  display: table;
  margin: 0 auto 1em;
}

#map-canvas {
  flex: 1 1 auto;
}
